<div class="row map-container container-fluid">
    {% set nb = 1 %}
    {% for i in 1..5 %}
    <div class="row cellrow">
        {% for j in 1..8 %}
            <div class="col mapcell p-0 h-100" id="{{ nb }}">{{ nb }}</div>
            {% set nb = nb+1 %}
        {% endfor %}
        <div class="w-100 h-0"></div>
    </div>
        {% endfor %}


    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        Launch static backdrop modal
    </button>

    <!-- Modal -->

    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog ">
            <div class="modal-content bg-dark text-light text-center align-items-center">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Let's hear indications</h5>
                </div>
                <div class="modal-body ">
                    {% for character in characters %}
                    <div class="card" style="width: 18rem;">
                        <img src="{{ character.img_url }}" class="card-img-top" alt="imageOfaMartian">
                        <div class="card-body bg-dark text-light">
                            <h5 class="card-title">{{ character.name }}</h5>
                            <p class="card-text"><em>{{ character.quote }}</em></p>

                        </div>
                    </div>
                    {% endfor %}

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-light" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</div>