{% extends 'layout.html.twig' %}
{% block content %}
    <form method="POST" action="/home/index">
        <select class="form-select" name ="status" aria-label="Default select example">
            <option selected>Status</option>
            {%for option in available_options.status %}
            <option value = {{ option }} > {{ option }} </option>
            {% endfor %}
        </select>
        <select class="form-select" name ="gender" aria-label="Default select example">
            <option selected>Gender</option>
           {%for option in available_options.gender %}
            <option value = {{ option }} > {{ option }} </option>
            {% endfor %}
        </select>
        <select class="form-select" name ="species" aria-label="Default select example">
            <option selected>Species</option>
            {%for option in available_options.species %}
            <option value = {{ option }} > {{ option }} </option>
            {% endfor %}
        </select>
        <select class="form-select" name ="hair" aria-label="Default select example">
            <option selected>Hair</option>
            {%for option in available_options.hair %}
            <option value = {{ option }} > {{ option }} </option>
            {% endfor %}
        </select>
        <select class="form-select" name ="skill1" aria-label="Default select example">
            <option selected>Skill 1</option>
            {%for option in available_options.skill %}
            <option value = {{ option }} > {{ option }} </option>
            {% endfor %}
        </select>
        <button>Let's find a lover</button>
    </form>
{% endblock %}